        body
        {
            font-family: arial;
            color: darkslategray;
            background-color: white;
        }
        h3
        {
    font-size: 32px;
        }  
         a
        {
   color: blue;
   
        }
         h2 
        {
     font-size: 28px;
     
        }
        img
        {
     width: 150px;
    height: 150px;
        }
        section
        {
       padding: 10px 60px 20px 60px;
        }
        heder
        {
        background-color: aliceblue;
        padding: 8px;
        }
        
