        body
        {
            font-family: arial;
            color: darkslategray;
        }
        h3
        {
    font-size: 32px;
        }  
         a
        {
   color: blue;
   
        }
         h2 
        {
     font-size: 28px;
     
        }
        img
        {
     width: 150px;
    height: 150px;
        }
